header {

    nav {
        background-color: var(--bs-primary);
        .navbar-brand {
            font-weight: bold;
            font-family: "Lora", serif;
            color: white !important;

            &:hover, &:active, &:focus {
                opacity: .7;
            }
        }
        
        .navbar-nav {
            font-weight: 400;
            font-family: "Lora", serif;

            .nav-item a { 
                color: white !important;

                &:hover, &:active, &:focus {
                    opacity: .7;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}