@mixin small-text() {
    letter-spacing: 0.4px;
    font-size: 0.95rem;
}

@import "./manage/header.scss";
@import "./manage/main.scss";
@import "./manage/content.scss";
@import "./manage/forms.scss";

html {
    scroll-behavior: smooth;
    width: 100vw !important;
    overflow-x: hidden !important;
}

body {
    width: 100vw !important;
    overflow-x: hidden !important;
    overflow-y: visible;
    background-color: white !important;
}

.container {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

*::selection {
    background-color: mix(white, #ed2647, 20%);
    color: white;
}

mark {
    background-color: var(--bs-primary) !important;
    padding: 0.1rem 0 !important;
}

form {
    label {
        cursor: pointer;
    }
}

.btn {
    font-size: 0.9rem;
}

.btn-primary {
    color: white !important;
}
